<!-- otp entering and verification page  -->

<hr>
<form action="/users/verify-otp/<%= id %>" method="POST">
    ENTER OTP:
    <input type="number" name="num" required>
    <hr>
    <button type="submit">VERIFY</button>
</form>
<hr>