body {
  background: url("https://tinyurl.com/yc6ewsyx") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%; }

html {
  height: 100%; }

.text-center {
  text-align: center; }

#outer-container {
  display: flex;
  justify-content: center;
  align-items: center; }

#login-box {
  padding: 0px;
  margin-top: 5%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(31, 30, 30, 0.8);
  box-shadow: 0px 5px 15px grey;
  border: 2px solid rgba(129, 219, 247, 0.788);
  padding-bottom: 4px;
  border-radius: 10px; }
  #login-box input, #login-box select {
    padding: 4px; }

#password, #email, #name, #confirm_password, button {
  height: 35px;
  opacity: initial; }

#password, #email, #name, #confirm_password {
  width: 260px; }

button {
  background-color: #ee0606;
  color: white;
  border: 0px;
  padding: 5px 15px;
  border-radius: 5px; }

button:hover {
  background-color: grey; }

#login-box h2 {
  padding: 4px 0px;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.829);
  border-bottom: 4px solid rgba(255, 0, 0, 0.288);
  border-radius: 9px; }

#footer-contact {
  padding: 15px;
  color: white;
  text-align: center;
  left: 0px;
  margin-top: auto;
  bottom: 0px;
  width: 100%; }
  #footer-contact p {
    font-size: 25px; }
  #footer-contact ul li {
    display: inline;
    margin: 5px; }

#google-login {
  width: 99%; }
  #google-login a {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px; }
    #google-login a img {
      width: 100%;
      height: 50px; }
