<div>
    <p>Hi <%= user.name %></p>
    <br><br>
    <p>Your SignIn is successful in employee portal of placement cell</p>
    <br><br>
    <p>
        Thanks,
        <br>
        Regards
        <br>
        Employee Portal
    </p>
</div>